<section>
    <form class="card" [formGroup]="studentForm">
        <div>
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="pwd" placeholder="Enter Name" formControlName="name">
        </div>
        <div>
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="number" class="form-label">Mobile:</label>
          <input type="number" class="form-control" placeholder="Enter Mobile" formControlName="mobile">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="male"> Male
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="female"> Female
          </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Batch:</label>
            <input type="date" class="form-control" placeholder="Enter Batch" formControlName="batch">
          </div>
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
</section>