section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  article {
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    left: 0;
    top: 0;
    background-color: aliceblue;
    .pagination {
      display: flex;
      gap: 10px;
    }
    .form-select {
      width: 80%;
    }
    .filter {
      width: 30%;
      input {
        width: 100%;
        height: auto;
        border: 0;
        outline: 0;
      }
    }
  }

  td li {
    list-style: none;
  }
}
