section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  article {
    width: 100%;
    padding: 1%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    left: 0;
    top: 0;
    background-color: aliceblue;
    .pagination {
      display: flex;
      gap: 10px;
      border: 2px solid red;
    }
  }

  td li {
    list-style: none;
  }
}
